﻿

.article-thumb {
    overflow: hidden;
    border-radius: 5px 5px 0 0;
}

    .article-thumb img {
        -webkit-transition: all ease-in .28s;
        transition: all ease-in .28s;
        width: 100%;
    }

.article-content {
    padding: 20px 30px;
}

.meta-info li {
    display: inline-block;
    padding-left: 15px;
    margin-left: 15px;
    position: relative;
}

    .meta-info li:after {
        content: '';
        height: 16px;
        width: 2px;
        position: absolute;
        left: 0;
        top: 4px;
        background: #c2c2c2;
    }

    .meta-info li:last-child:after {
        display: none;
    }

    .meta-info li:last-child {
        padding-left: 0;
        margin-left: 0;
    }

    .meta-info li a {
        color: #c2c2c2;
    }

        .meta-info li a:hover {
            color: #2c3145;
            -webkit-transition: .3s all;
            transition: .3s all;
        }

.article-post {
    box-shadow: 0px 1px 4px 0px rgba(44, 49, 59, 0.15);
    border-radius: 5px;
    -webkit-transition: .3s all;
    transition: .3s all;
    margin-bottom: 30px;
    text-align: right !important;
}

    .article-post:hover {
        box-shadow: -3.758px 26.737px 43px 0px rgba(42, 57, 63, 0.15);
    }


        .article-post:hover .article-thumb img {
            -webkit-transform: scale(1.15) rotate(-4deg);
            transform: scale(1.15) rotate(-4deg);
        }

    .article-post .article-title a {
        color: #2c3145;
        display: block;
        margin-top: 5px;
        margin-bottom: 10px;
        -webkit-transition: .3s all;
        transition: .3s all;
        font-weight: bold;
    }

    .article-post p {
        margin-bottom: 10px;
    }

    .article-post a.read-more {
        color: #c2c2c2;
    }
