@media only screen and (min-width:1550px) {
}

@media only screen and (min-width:1350px) {
}

@media only screen and (max-width:1270px) and (min-width:991px) {

    .contact-wrapper {
        margin-top: 0;
        box-shadow: none
    }

    .single-contact {
        padding: 30px 0 20px 0;
    }

        .single-contact:last-child {
            padding-bottom: 0;
        }

    .contact-wrapper i,
    .contact-wrapper img {
        float: none;
        text-align: center;
        margin-bottom: 10px;
        max-height: 40px;
        margin-right: 0;
    }

    .header-slider .owl-next, .header-slider .owl-prev {
        top: 80%;
    }

    .header-slider:hover .owl-prev {
        left: 400px;
    }

    .header-slider:hover .owl-next {
        right: 400px;
    }

    .testimonial-carousel .owl-prev {
        left: 250px;
    }

    .testimonial-carousel .owl-next {
        right: 250px;
    }

    .single-beauticians figure img {
        min-height: 320px;
    }

    .appoinment-wrapper .dtb input, .appoinment-wrapper .dtb select {
        width: 30.2%;
    }

    #footer-widgets .widdget-instagram li {
        width: 27%;
    }

    #product {
        padding-bottom: 160px;
    }

    .product-carousel .owl-next,
    .product-carousel .owl-prev {
        top: auto;
    }

    .product-carousel .owl-prev {
        left: 40%;
    }

    .product-carousel .owl-next {
        right: 40%;
    }

    #product.section-padding {
        padding-bottom: 128px;
    }

    .portfolio-tab-sorting {
        width: 100%;
        border: 0;
    }

        .portfolio-tab-sorting li a {
            margin-right: 10px;
            border: 1px solid #eee;
        }
}


@media only screen and (min-width:992px) {


    .sb-search.sb-search-open input[type="search"].sb-search-input {
        width: 700px;
        background: #f7f7f7;
    }
}




/* Tablet Layout: 768px */

@media only screen and (min-width:768px) and (max-width:991px) {
}




/* Mobile Layout: 320px */

@media only screen and (max-width:992px) {
    .subscribe-social-contact {
        padding: 30px 0;
    }
    .navbar-area .title {
        font-weight: bold;
        font-size: 18px;
    }
    #product.section-padding {
        padding-bottom: 128px;
    }

    #testimonial,
    #counter {
        background: #FAFAFA;
    }

    .single-testimonial p {
        width: 100%;
    }

    .mean-container a.meanmenu-reveal {
        top: -98px;
        left: -65px !important;
        border-radius: 4px;
        padding: 5px 6px;
        -webkit-transform: scale(.8);
        transform: scale(.8);
    }

    .is-sticky .mean-container a.meanmenu-reveal {
        top: -98px;
    }

    #header-top p:after {
        display: none;
    }

    .header-slider .owl-next, .header-slider .owl-prev {
        top: 84%;
    }

    .header-single-slider .container.inner-content p {
        width: 70%;
    }

    .contact-wrapper {
        margin: 0 auto;
        width: 100%;
        box-shadow: none;
    }

    .single-contact {
        padding: 30px 0 20px 0;
    }

        .single-contact:last-child {
            padding-bottom: 0;
        }

    .contact-wrapper i,
    .contact-wrapper img {
        float: none;
        text-align: center;
        margin-bottom: 10px;
        max-height: 40px;
        margin-right: 0;
    }

    .nav-tabs {
        width: 100%;
        border-radius: 0;
        border: 0;
    }

        .nav-tabs .nav-item:last-child .nav-link,
        .nav-tabs .nav-item:first-child .nav-link {
            border-radius: 0;
        }

        .nav-tabs .nav-link {
            margin-bottom: 10px;
            margin-right: 10px;
        }

    .tab-content ul li {
        width: 100%;
    }

        .tab-content ul li:nth-child(7) {
            border-bottom: 1px dashed #dedede;
        }

    .testimonial-carousel .owl-next {
        right: 140px;
    }

    .testimonial-carousel .owl-prev {
        left: 140px;
    }

    .opening-hours {
        width: 100%;
        border-right: 5px solid rgba(255, 255, 255, .2);
        margin-bottom: 20px;
        margin-top: 0;
    }

    .appoinment-wrapper {
        width: 100%;
    }

        .appoinment-wrapper .dtb input, .appoinment-wrapper .dtb select {
            width: 31.7%;
        }

    #subscribe i {
        width: 100%;
        margin-bottom: 15px;
        margin-top: -16px;
    }

    #subscribe-form input[type=email] {
        float: none;
        width: 100%;
    }

    #subscribe-form {
        position: relative;
        margin-top: 3px;
    }

    .video-section {
        display: block;
        position: relative;
        height: 500px;
        width: 100%;
    }

    .product-carousel .owl-next,
    .product-carousel .owl-prev {
        top: auto;
    }

    .product-carousel .owl-prev {
        left: 40%;
    }

    .product-carousel .owl-next {
        right: 40%;
    }

    .portfolio-tab-sorting {
        border: 0;
        width: 100%;
        border-radius: 0;
    }

        .portfolio-tab-sorting li a {
            margin-bottom: 10px;
            margin-right: 10px;
            border: 1px solid #eee;
        }

    /* Beautician */
    .single-beauticians .img-wrapper {
        text-align: center;
        box-shadow: none;
    }

        .single-beauticians .img-wrapper img {
            width: auto;
        }

    .single-beauticians .beautician-content {
        visibility: hidden;
        text-align: center;
    }

    .single-beauticians:hover .beautician-content {
        visibility: visible;
    }

    .widdget-instagram li {
        margin-right: 10px;
        width: auto;
    }

        .widdget-instagram li:nth-child(6), .widdget-instagram li:nth-child(3) {
            margin-right: 10px;
        }
}



@media only screen and (max-width:767px) {

    header {
        padding-bottom: 10px;
    }

    .header-single-slider .container.inner-content p {
        width: 100%;
    }

    ul.mbl {
        margin-right: 10px;
    }

    .mean-container a.meanmenu-reveal {
        left: -65px !important;
    }

    .section-padding {
        overflow: hidden;
    }

    #header-top p {
        margin-right: 0;
    }

    .header-single-slider .container.inner-content {
        width: 100%;
    }

    .nav-tabs .nav-item {
        width: auto;
    }

    .nav-tabs {
        border: none;
    }

    .testimonial-carousel .owl-next, .testimonial-carousel .owl-prev {
        top: 100%;
    }

    .testimonial-carousel .owl-next {
        right: 40%;
    }

    .testimonial-carousel .owl-prev {
        left: 40%;
    }

    .appoinment-wrapper .dtb input, .appoinment-wrapper .dtb select {
        width: 30.8%;
    }

    .wcu-content {
        padding: 60px 15px;
    }

    #about-partner .single-partner:nth-child(5),
    #about-partner .single-partner:nth-child(6) {
        border-bottom-width: 1px;
    }

    #about-partner .single-partner:nth-child(6),
    #about-partner .single-partner:nth-child(3) {
        border-right-width: 0px;
    }

    #about-partner .single-partner:nth-child(8),
    #about-partner .single-partner:nth-child(3),
    #about-partner .single-partner:nth-child(4) {
        border-right-width: 1px;
    }

    .single-post .post-header .text-right {
        float: none;
    }

        .single-post .post-header .text-right li {
            margin-right: 15px;
            margin-left: 0;
        }

    .single-post .post-header ul {
        margin-right: 10px;
    }

    .meta-data ul.text-right {
        float: none;
    }

    #page-404 h1 {
        font-size: 80px;
    }

    .header-slider h1 {
        font-size: 30px;
        margin-bottom: 10px;
    }

    .header-slider h3 {
        font-size: 24px;
        margin-bottom: 5px;
    }

    .header-single-slider .container.inner-content.text-center p,
    .header-single-slider .container.inner-content.text-center {
        margin-bottom: 10px;
    }

    .header-single-slider .container.inner-content p {
        margin-bottom: 10px;
    }

    #testimonial.section-padding {
        padding-bottom: 105px;
    }

    .gallery-tab-sorting li {
        margin-bottom: 10px;
    }
}

@media only screen and (max-width:600px) {

    #footer-widgets .widdget-instagram li {
        width: auto;
        margin-right: 10px;
    }

    .portfolio-tab-sorting li a {
        padding: 10px 14px;
    }

    .widdget-instagram li:nth-child(6), .widdget-instagram li:nth-child(3) {
        margin-right: 10px;
    }

    .header-slider .owl-next, .header-slider .owl-prev {
        top: 90%;
    }

    .header-slider .owl-next, .header-slider .owl-prev {
        width: 34px;
        height: 34px;
        line-height: 34px;
        font-size: 20px;
    }

    header {
        padding-bottom: 20px;
    }

    .header-slider .boxed-btn {
        padding: 10px 26px;
    }

    ul.mbl {
        margin-right: 30px;
    }

    .mean-container a.meanmenu-reveal {
        left: -40px !important;
    }

    .header-slider h3,
    .header-slider h1,
    .header-single-slider .container.inner-content p {
        margin-bottom: 10px !important;
    }

    .product-carousel .owl-prev {
        left: 30%;
    }

    .product-carousel .owl-next {
        right: 30%;
    }

    .appoinment-wrapper {
        padding: 50px 30px;
    }
}

@media only screen and (max-width:480px) {

    .header-slider h3 {
        font-size: 20px;
    }

    .header-slider h1 {
        font-size: 24px;
    }

    header {
        padding-bottom: 25px;
    }

    .header-slider p {
        font-size: 12px;
        line-height: 1.3;
    }

    .header-slider .boxed-btn {
        padding: 8px 26px;
    }

    .opening-hours {
        padding: 30px 15px;
    }

    .appoinment-wrapper .input {
        width: 100%;
    }

    .appoinment-wrapper .dtb input, .appoinment-wrapper .dtb select {
        width: 100%;
    }

    #header-top p {
        padding-right: 0;
    }

    #header-top .header-top-right li {
        margin-left: 0;
        display: block;
    }

    #page-404 {
        overflow: hidden;
    }

        #page-404 h1 {
            font-size: 60px;
        }

    .mean-container a.meanmenu-reveal {
        left: -30px !important;
    }

    #about-partner .single-partner:nth-child(5),
    #about-partner .single-partner:nth-child(6) {
        border-bottom-width: 1px;
    }

    #about-partner .single-partner:nth-child(2),
    #about-partner .single-partner:nth-child(4),
    #about-partner .single-partner:nth-child(6),
    #about-partner .single-partner:nth-child(8) {
        border-right-width: 0px;
    }

    #about-partner .single-partner:nth-child(3) {
        border-right-width: 1px;
    }

    .tab-content ul li h4 .price {
        font-size: 80%;
    }

    .tab-content ul li h4 {
        margin-top: 0;
    }

    #page-404 h2 {
        font-size: 80px;
    }

    .coming-soon-wrapper p {
        width: 100%;
    }

    .count-area {
        padding-top: 40px;
    }

    ul.timer li {
        margin-bottom: 20px;
    }

    .single-testimonial p {
        font-size: 16px;
        line-height: 26px;
    }
}


@media only screen and (max-width:400px) {

    .header-slider h3 {
        font-size: 14px;
        margin-bottom: 5px !important;
    }

    .header-slider h1 {
        font-size: 20px;
    }

    .header-slider p {
        font-size: 10px;
        line-height: 1.3;
    }

    .header-slider .boxed-btn {
        padding: 6px 26px;
    }

    .mean-container a.meanmenu-reveal {
        left: -20px !important;
        margin-top: 46px;
    }

    .sb-search.sb-search-open input[type="search"].sb-search-input {
        width: 200px;
    }

    .comment-date {
        position: relative;
    }

    .tab-content ul li h4 {
        font-size: 16px;
    }
}


@media only screen and (max-width: 352px) {
    .sidenav {
        left: calc(100% - 100%);
        width: 100%;
        overflow-y: scroll;
    }

    #header-top li {
        margin-left: 0;
    }

    .pricing-box .boxed-btn {
        padding: 12px 20px;
    }

    li.page-item .page-link {
        padding: 10px;
    }
}


@media only screen and (max-width: 340px) {

    .header-slider h3 {
        font-size: 14px;
        margin-bottom: 0 !important;
    }

    .header-slider h3, .header-slider h1, .header-single-slider .container.inner-content p {
        margin-bottom: 5px !important;
    }

    .header-slider .boxed-btn {
        font-size: 10px;
    }

    .header-slider .owl-next, .header-slider .owl-prev {
        top: 85%;
    }

    .sidenav .cart-item {
        text-align: center;
    }

        .sidenav .cart-item img {
            margin-bottom: 15px;
        }

    .sidenav .cart-item-description p {
        margin-top: 10px;
    }

    .cart-buttons .fl {
        float: none;
    }

    li.page-item .page-link {
        padding: 8px;
    }

    #page-404 h2 {
        font-size: 60px;
    }
}
