
/*
* ------------------------------------------------------------------
*
* Project: Hantus - Spa and Beauty HTML template
* Version: 1.0
* Created : 25/04/2017
* Template URI: 
* Author Name: NayraThemes
* Author URI: http://nayrathemes.com/
* Description: Spa and Beauty HTML template
* Developer: Aminul Haque Chowdhury;
*
*
* -------------------------------------------------------------------
*
============================================
*   [Table of contents]
* ==========================================

    ** Fonts + Include CSS
    ** Theme Reset Css
    ** Preloader
    01. Homepage
        01. Header Top
        02. Navbar
        03. Slider
        04. Slider Contact
        05. Our Service
        06. Portfolio
        07. Feature
        08. Pricing
        09. Counter
        10. Product
        11. Testimonial
        12.Appoinment
        13.Expert Beauticians
        14. Partner
        15. Subscribe
        16.footer-copyright
        17. Breadcrumb

    02. About us page
        01. Welcome
        02. Why choose us
        03. About-partner

    03. Gallery Page
    04. Contact page
    04. Portfolio page
    05. Blog Page
        01. Single Post
        02. Post Comment Area
    07. 404 Page
    08. Coming Soon Page

/* ========================================== */


/*
==========================================
    Fonts + Include CSS
============================================
*/

@import url('https://fonts.googleapis.com/css?family=Dancing+Script:400,700|Rubik:300,400,500,700,900');
@import url('fontawesome-all.min.css');
@import url('elegant-icons.min.css');
@import url('bootstrap.min.css');
@import url('meanmenu.min.css');
@import url('owl.carousel.min.css');
@import url('owl.theme.default.min.css');
@import url('animate.css');
@import url('magnific-popup.css');

@import url('typography/typograhpy.css');
@import url('colors/default.css');
@import url('widget.css');

@font-face {
    font-family: 'BYekan';
    src: url('/src/Assets/fonts/BYekan.eot');
    src: local("B Yekan"), url('/src/Assets/fonts/BYekan.woff') format('woff'), url('/src/Assets/fonts/BYekan.eot?#iefix') format('embedded-opentype'), url('/src/Assets/fonts/BYekan.ttf') format('truetype'), url('/src/Assets/fonts/BYekan.svg') format('svg'), url('/src/Assets/fonts/BYekan.svg#B Yekan') format('svg');
    font-weight: normal;
    font-style: normal;
}


/*
==========================================
    Theme Reset Css
==========================================
*/
html {
    scroll-behavior: smooth;
}

body {
    background: #fff;
    color: #5e6271;
}

* {
    outline: none !important;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #2c3145;
}

a,
a:hover,
a:focus,
a:active {
    text-decoration: none;
    outline: none;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

img {
    max-width: 100%;
}



/* Helper class*/

.section-padding {
    padding: 80px 0;
}

.section-padding-top {
    padding: 80px 0 0;
}

.section-title {
    margin-bottom: 50px;
}

    .section-title h2 {
        margin-bottom: 10px;
        display: inline-block;
    }

    .section-title hr {
        width: 20px;
        height: 20px;
        background: url(/src/Assets/img/section-icon.png) no-repeat;
        background-size: cover;
        border: none;
        position: relative;
        margin: 0 auto;
    }

    .section-title p {
        margin-top: 16px;
    }

    .section-title hr:after {
        content: '';
        width: 70px;
        height: 1px;
        position: absolute;
        right: -80px;
        top: 50%;
    }

    .section-title hr:before {
        content: '';
        width: 70px;
        height: 1px;
        position: absolute;
        left: -80px;
        top: 50%;
    }

.owl-item {
    float: right;
}

.owl-stage-outer {
    overflow: hidden;
}

.owl-nav {
    display: none;
}


/* Button Style */

.boxed-btn {
    display: inline-block;
    color: #fff;
    border-radius: 2px;
    padding: 11px 34px;
    position: relative;
    overflow: hidden;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

    .boxed-btn:before,
    .boxed-btn:after {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        width: 60%;
        border-radius: 0;
        z-index: -1;
        height: 100%;
        background: #fff;
        will-change: transform;
        -webkit-transform: skew(-45deg) scaleX(0);
        transform: skew(-45deg) scaleX(0);
        -webkit-transition: -webkit-transform .3s ease-in-out;
        transition: -webkit-transform .3s ease-in-out;
        transition: transform .3s ease-in-out;
        transition: transform .3s ease-in-out, -webkit-transform .3s ease-in-out;
    }

    .boxed-btn:before {
        left: 75%;
        margin-left: -1px;
        -webkit-transform-origin: 0% 0%;
        transform-origin: 0% 0%;
    }

    .boxed-btn:after {
        width: 70%;
        right: 75%;
        margin-right: -1px;
        -webkit-transform-origin: 100% 0%;
        transform-origin: 100% 0%;
    }

    .boxed-btn:hover {
        box-shadow: 0px 16px 35px 0px rgba(0, 0, 0, 0.2);
        z-index: 2;
    }

        .boxed-btn:hover:before,
        .boxed-btn:hover:after {
            -webkit-transform: skew(-45deg) scaleX(1.5);
            transform: skew(-45deg) scaleX(1.5);
        }

/* Input Style */

.input {
    position: relative;
    z-index: 1;
    display: inline-block;
    max-width: 100%;
    width: 100%;
    vertical-align: top;
}

.input__field {
    position: relative;
    display: block;
    float: left;
    padding: 8px 15px;
    width: 100%;
    border: none;
    border-radius: 0;
    background: #fff;
    color: #aaa;
}

    .input__field:focus {
        outline: none;
    }

.input__label {
    display: inline-block;
    float: left;
    padding: 0 1em;
    width: 40%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.input__label-content {
    position: relative;
    display: block;
    padding: 0.6em 0;
    width: 100%;
}

.graphic {
    position: absolute;
    top: 0;
    right: 0;
    fill: none;
}

.input--hantus {
    margin-bottom: 40px;
}

.input__field--hantus {
    width: 100%;
    background: transparent;
    color: #2c3145;
}

.input__label--hantus {
    position: absolute;
    width: 100%;
    height: 100%;
    color: #2c3145;
    cursor: text;
}

.input__label-content--hantus {
    -webkit-transform-origin: 0% 50%;
    transform-origin: 0% 50%;
    -webkit-transition: -webkit-transform 0.3s;
    transition: -webkit-transform 0.3s;
    transition: transform 0.3s;
    transition: transform 0.3s, -webkit-transform 0.3s;
}

.graphic--hantus {
    -webkit-transform: scale3d(1, -1, 1);
    transform: scale3d(1, -1, 1);
    -webkit-transition: stroke-dashoffset 0.3s;
    transition: stroke-dashoffset 0.3s;
    pointer-events: none;
    stroke: #d9d9d9;
    stroke-width: 4px;
    stroke-dasharray: 962;
    stroke-dashoffset: 558;
}

.textarea .graphic--hantus {
    stroke-width: 2px;
}

.input__field--hantus:focus + .input__label--hantus,
.input--filled .input__label--hantus {
    cursor: default;
    pointer-events: none;
}

    .input__field--hantus:focus + .input__label--hantus .graphic--hantus,
    .input--filled .graphic--hantus {
        stroke-dashoffset: 0;
    }

    .input__field--hantus:focus + .input__label--hantus .input__label-content--hantus,
    .input--filled .input__label-content--hantus {
        -webkit-transform: scale3d(0.81, 0.81, 1) translateY(-50px);
        transform: scale3d(0.81, 0.81, 1) translateY(-50px);
    }


/*
==========================================
    Preloader
==========================================
*/

.preloader {
    overflow: hidden;
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 9999999;
    background: #fff;
}

.wrapper {
    height: 50px;
    margin-top: calc(50vh - 25px);
    margin-right: calc(50vw - 100px);
    width: 180px;
}

.circle {
    /*border-radius: 50%;*/
    background: url('/src/Assets/img/preloader-logo.png') no-repeat;
    /*clip-path: polygon(50% 0, 0 100%, 100% 100%);*/
    /*border: 3px #fff solid;*/
    float: left;
    height: 50px;
    margin: 0 5px;
    width: 50px;
}

.circle-1 {
    -webkit-animation: move 1s ease-in-out infinite;
    animation: move 1s ease-in-out infinite;
}

.circle-1a {
    -webkit-animation: fade 1s ease-in-out infinite;
    animation: fade 1s ease-in-out infinite;
}

@-webkit-keyframes fade {
    0% {
        opacity: 0;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    }

    100% {
        opacity: 1;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    }
}

@keyframes fade {
    0% {
        opacity: 0;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    }

    100% {
        opacity: 1;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    }
}

.circle-2 {
    -webkit-animation: move 1s ease-in-out infinite;
    animation: move 1s ease-in-out infinite;
}

@-webkit-keyframes move {
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }

    100% {
        -webkit-transform: translateX(60px);
        transform: translateX(60px);
    }
}

@keyframes move {
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }

    100% {
        -webkit-transform: translateX(60px);
        transform: translateX(60px);
    }
}

.circle-1a {
    margin-left: -55px;
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
}

.circle-3 {
    -webkit-animation: circle-3 1s ease-in-out infinite;
    animation: circle-3 1s ease-in-out infinite;
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}

@-webkit-keyframes circle-3 {
    0% {
        opacity: 1;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    }

    100% {
        opacity: 0;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    }
}

@keyframes circle-3 {
    0% {
        opacity: 1;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    }

    100% {
        opacity: 0;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    }
}

.preloader h1 {
    color: #fff;
    margin: 40px auto;
    text-align: center;
}


/*
==========================================
    01. Header top
==========================================
*/

#header-top {
    padding: 15px 0 10px;
    border-bottom: 1px solid rgba(0, 0, 0, .1);
}

    #header-top p {
        display: inline-block;
        position: relative;
        padding-left: 30px;
        margin-left: 30px;
        -webkit-transform: translateY(-30%);
        transform: translateY(-30%);
    }

        #header-top p:after {
            content: '';
            position: absolute;
            top: 3px;
            left: 0;
            width: 1px;
            height: 18px;
            background: #cacaca;
        }

    #header-top i {
        margin-left: 6px;
    }

    #header-top ul li {
        display: inline-block;
    }

    #header-top .header-social li {
        margin-left: 5px;
        margin-right: 5px;
    }

.header-social li a {
    text-align: center;
    color: #fff;
    display: block;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #5e6271;
    -webkit-transition: .3s all;
    transition: .3s all;
    overflow: hidden;
}

#header-top .header-social i {
    color: #fff;
    margin-left: 0;
}

.header-social a:hover i {
    -webkit-animation: socialFxD .3s forwards;
    animation: socialFxD .3s forwards
}

@-webkit-keyframes socialFxD {
    49% {
        -webkit-transform: translateX(100%);
        transform: translateX(100%)
    }

    50% {
        opacity: 0;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%)
    }

    51% {
        opacity: 1;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)"
    }
}

@keyframes socialFxD {
    49% {
        -webkit-transform: translateX(100%);
        transform: translateX(100%)
    }

    50% {
        opacity: 0;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%)
    }

    51% {
        opacity: 1;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)"
    }
}

#header-top li {
    margin-right: 30px;
}

    #header-top li a {
        color: #5e6271;
    }

#header-top a {
    color: #5e6271;
}

.header-top-right {
    -webkit-transform: translateY(-30%);
    transform: translateY(12%);
}

/*
==========================================
    02. Navbar
==========================================
*/

.navbar-area {
    background: #fff;
    z-index: 99999;
    box-shadow: 0px 25px 45px 0px rgba(0, 0, 0, 0.15);
}

    .navbar-area .logo img {
        padding: 6px 0;
    }

    .navbar-area .logo span {
        font-weight: bold;
        font-size: 20px;
    }
    /*.navbar-area .logo a, .navbar-area .logo a:hover, .navbar-area .logo a:visited {
        font-weight: bold;
        color: #363636;
    }*/
    .navbar-area a, .navbar-area a:hover, .navbar-area a:visited {
        font-weight: bold;
        color: #363636;
    }

    .navbar-area .span-title {
        font-weight: bold;
        color: #ebc25d;
        font-size:22px;
    }

    .navbar-area .title {
        font-size:20px;
        margin-top: 17px;
        margin-right: -25px;
    }

.main-menu li {
    display: inline-block;
    margin-right: 30px;
}

    .main-menu li a {
        color: #363636;
        display: block;
        padding: 30px 0;
        position: relative;
        -webkit-transition: .3s all;
        transition: .3s all;
    }

    .main-menu li.c-dropdowns.active li a {
        color: #363636;
    }

    .main-menu li.active a:before,
    .main-menu li a:before {
        position: absolute;
        top: 0;
        right: 0;
        color: transparent;
        content: "";
        height: 2px;
        width: 100%;
        visibility: hidden;
        -webkit-transition: .3s;
        transition: .3s;
        -webkit-transform: scale(0);
        transform: scale(0);
    }

    .main-menu li.active a:before {
        visibility: visible;
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    .main-menu li a:hover:before {
        visibility: visible;
        -webkit-transform: scale(1);
        transform: scale(1);
    }


    /* Drop Down */

    .main-menu li.c-dropdowns {
        position: relative;
    }

        .main-menu li.c-dropdowns li a {
            padding: 10px 20px;
        }

.main-menu ul li ul.cr-dropdown-menu {
    text-align: left;
    position: absolute;
    right: 0;
    top: 100%;
    padding: 10px 0;
    width: 220px;
    background: #ffffff;
    visibility: hidden;
    -webkit-transform: scale(0);
    transform: scale(0);
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    -ms-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    -o-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
    z-index: 9999;
}

    .main-menu ul li ul.cr-dropdown-menu li {
        display: block;
        margin-right: 0;
    }

        .main-menu ul li ul.cr-dropdown-menu li a:hover {
            padding-right: 23px;
        }

        .main-menu ul li ul.cr-dropdown-menu li a:before {
            -webkit-transform: scale(1);
            transform: scale(1);
            width: 0%;
            top: auto;
            bottom: 0;
            margin-right: 20px;
        }

        .main-menu ul li ul.cr-dropdown-menu li.active a:before,
        .main-menu ul li ul.cr-dropdown-menu li a:hover:before {
            width: 80%;
        }

.main-navigation ul li.last-elements .cr-dropdown-menu {
    left: 0;
    right: auto;
}

.main-menu ul li:hover ul.cr-dropdown-menu {
    visibility: visible;
    -webkit-transform: scale(1);
    transform: scale(1);
}

.main-menu ul li ul.cr-dropdown-menu li {
    position: relative;
}

    .main-menu ul li ul.cr-dropdown-menu li ul {
        position: absolute;
        left: calc(100% + 0px);
        top: 0;
        width: 275px;
        padding: 10px 0;
        background: #fff;
        -ms-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
        -o-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
        -webkit-transition: all 0.3s ease-in-out 0s;
        transition: all 0.3s ease-in-out 0s;
        -webkit-transform: scale(0);
        transform: scale(0);
        -webkit-transform-origin: 0 0;
        transform-origin: 0 0;
        z-index: 999;
    }

    .main-menu ul li ul.cr-dropdown-menu li:hover ul {
        visibility: visible;
        -webkit-transform: scale(1);
        transform: scale(1);
    }


/* Cart */

.cart-icon {
    padding: 30px 0;
}

.cart-icon-wrapper {
    cursor: pointer;
    position: relative;
}

.cart-count {
    text-align: center;
    position: absolute;
    top: 0;
    display: inline-block;
    left: -15px;
    width: 22px;
    height: 22px;
    border-radius: 50%;
    background: #2c3145;
    color: #fff;
    border: 2px solid #fff;
}

.sidenav {
    background-color: #fff;
    bottom: 0;
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    position: fixed;
    right: calc(100% - 350px);
    top: 0;
    visibility: hidden;
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    width: 350px;
    z-index: -1;
    padding: 0px 15px 20px;
    z-index: 9999999999;
    box-shadow: 0px 16px 35px 0px rgba(0, 0, 0, 0.2);
}

    .sidenav .sidenav-header {
        overflow: hidden;
        padding: 0;
        padding-right: 30px;
        padding-top: 5px;
        margin-bottom: 30px;
    }

        .sidenav .sidenav-header h3 {
            margin-right: 20px;
            position: relative;
            padding-top: 7px;
            padding-bottom: 5px;
        }

            .sidenav .sidenav-header h3:after {
                content: '';
                position: absolute;
                bottom: 0;
                right: 0;
                width: 50px;
                height: 2px;
                background: #eee;
            }

    .sidenav .close-sidenav {
        background-color: #f7f7f7;
        cursor: pointer;
        display: inline-block;
        margin-left: 0.5em;
        padding: 10px;
        -webkit-transition: all 0.2s ease-in-out;
        transition: all 0.2s ease-in-out;
        position: absolute;
        top: 0;
        right: 0;
        margin-top: 6px;
        margin-right: 6px;
        border: 1px solid #eee;
    }

    .sidenav .cart-item {
        padding: 10px;
        border: 1px solid #eee;
        margin-bottom: 10px;
        position: relative;
    }

    .sidenav .cart-item-thumb {
        margin-left: 10px;
    }

.cart-remove {
    position: absolute;
    top: 0;
    left: 0;
    margin: 10px;
    margin-top: 5px;
    cursor: pointer;
}

.sidenav .cart-item-description {
    display: inline-block;
    vertical-align: top;
}

    .sidenav .cart-item-description p {
        margin-top: 25px;
    }

.sidenav.active {
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    -webkit-transform: translateX(0);
    transform: translateX(0);
    visibility: visible;
    z-index: 99999999999999999999999;
    box-shadow: -5px 0 30px 0 rgba(100, 100, 100, 0.2);
}

    .sidenav.active .cart-item {
        font-size: 0;
    }

        .sidenav.active .cart-item .cart-item--thumb {
            display: inline-block;
            max-width: 100%;
            vertical-align: top;
        }

.sub-total span {
    float: left;
}

.sub-total {
    margin-top: 14px;
    border-bottom: 2px solid #999;
    padding-bottom: 11px;
}

.fl {
    float: left;
}

.cart-buttons {
    margin-top: 20px;
    display: block;
}

.cart-overlay {
    background-color: transparent;
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    -webkit-transition: opacity 0.2s ease-in-out;
    transition: opacity 0.2s ease-in-out;
    visibility: hidden;
}

    .cart-overlay.active {
        background-color: rgba(50, 50, 50, 0.5);
        bottom: 0;
        display: block;
        height: 100%;
        right: 0;
        opacity: 1;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
        position: fixed;
        left: 0;
        top: 0;
        visibility: visible;
        z-index: 99;
    }


/* Mean menu */

.mean-container .mean-bar {
    background: transparent none repeat scroll 0 0;
    min-height: 50px;
    padding: 0;
    margin: 15px 15px !important;
    position: absolute;
    left: 0;
    width: 90%;
}

.mean-container a.meanmenu-reveal {
    border: 1px solid;
    margin-top: 15px;
    margin-right: 10px;
    padding: 4px 5px;
    position: absolute;
    z-index: 99;
}

.mean-container .mean-nav ul {
    height: 100%;
    width: 100%;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
}

.mean-container .mean-nav {
    margin-top: -14px;
    height: 100%;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
}

    .mean-container .mean-nav ul li a.mean-expand {
        height: 28px;
    }

    .mean-container .mean-nav ul li a {
        text-transform: capitalize;
    }

/* Sticky */

div#sticky-wrapper.is-sticky .sticky-nav {
    background: #fff !important;
    background-image: none;
    box-shadow: 0px 0 1px rgba(0, 0, 0, .2);
}

.is-sticky .sticky-nav {
    -webkit-animation: fadeInDown 1s both;
    animation: fadeInDown 1s both;
    z-index: 999;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
    cursor: pointer;
}

.is-sticky .cart-icon,
.is-sticky .main-menu li a {
    padding: 30px 0;
}

.is-sticky .navbar-area .logo img {
    padding: 6px 0;
}



/* Search */

.search-button {
    position: relative;
}

.sb-search {
    position: relative;
    top: 2px;
    right: 10px;
    width: 0;
    height: 36px;
    float: left;
    -webkit-backface-visibility: hidden;
}

.sb-search-input {
    position: absolute;
    top: 0;
    left: 0px;
    border: none;
    outline: none;
    background: #fff;
    width: 100%;
    margin: 0;
    z-index: 10;
    -webkit-transition: width 0.3s;
    transition: width 0.3s;
    padding: 15px;
    margin-left: -15px;
}

input[type="search"].sb-search-input {
    -webkit-appearance: none;
    -webkit-border-radius: 0px;
}

.sb-icon-search,
.sb-search-submit {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    padding: 0;
    margin: 0;
    text-align: center;
    cursor: pointer;
}

.sb-search-submit {
    background: #fff;
    /* IE needs this */
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    /* IE 8 */
    filter: alpha(opacity=0);
    /* IE 5-7 */
    opacity: 0;
    color: transparent;
    color: red;
    border: none;
    outline: none;
    z-index: -1;
}

.sb-icon-search {
    color: #000;
    z-index: 10;
    font-size: 16px;
    font-family: 'icomoon';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    -webkit-font-smoothing: antialiased;
}

    .sb-icon-search:before {
        content: "";
    }

.sb-search.sb-search-open input[type="search"].sb-search-input {
    width: 300px;
    background: #f7f7f7;
}

ul.mbl {
    margin-left: 30px;
}

    ul.mbl li {
        display: inline-block;
        margin-left: 20px;
    }



/*
==========================================
    03. Slider
==========================================
*/

header {
    overflow: hidden;
}

.header-slider {
    cursor: crosshair;
}

.header-single-slider figure {
    position: relative;
    display: inline-block;
}

    .header-single-slider figure img {
        display: block;
        margin: 0;
    }

.header-single-slider .content {
    direction: rtl;
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
    padding: 0 15px;
    z-index: 1;
}


.header-single-slider .container.inner-content {
    width: 100%;
}

    .header-single-slider .container.inner-content h1 {
        color: #ffffff;
    }

    .header-single-slider .container.inner-content p {
        width: 50%;
        margin-bottom: 30px;
    }

    .header-single-slider .container.inner-content.text-center p,
    .header-single-slider .container.inner-content.text-center {
        margin: 0 auto;
        margin-bottom: 30px;
    }

    .header-single-slider .container.inner-content.text-right p {
        margin-left: auto;
    }

.header-slider h3 {
    margin-bottom: 16px;
}

.header-slider h1 {
    margin-bottom: 24px;
}

.header-slider .boxed-btn {
    display: inline-block;
    padding: 14px 30px;
    color: #fff;
}

.header-slider .owl-nav {
    display: block;
}

.header-slider .owl-next,
.header-slider .owl-prev {
    width: 50px;
    height: 50px;
    text-align: center;
    background: #2c3145;
    border-radius: 50%;
    color: #fff;
    cursor: pointer;
    position: absolute;
    top: 50%;
    -webkit-transition: .7s;
    transition: .7s;
}

    .header-slider .owl-next:hover,
    .header-slider .owl-prev:hover {
        color: #fff;
    }

.header-slider .owl-prev {
    right: -200px;
    visibility: hidden;
}

.header-slider:hover .owl-prev {
    right: 50px;
    visibility: visible;
}

.header-slider .owl-next {
    left: -200px;
    visibility: hidden;
}

.header-slider:hover .owl-next {
    left: 50px;
    visibility: visible;
}


/*
==========================================
    04. Slider Contact
==========================================
*/

.contact-wrapper {
    border-radius: 5px;
    background: #fff;
    box-shadow: 0.5px 0.866px 1px 0px rgba(42, 57, 63, 0.15);
    margin-top: -80px;
}

.single-contact {
    background: #fff;
    -webkit-transition: .3s;
    transition: .3s;
    padding: 30px 50px 20px 0;
}

    .single-contact h4 {
        -webkit-transition: all .3s ease-out;
        transition: all .3s ease-out;
    }

.contact-wrapper .single-contact p {
    -webkit-transition: all .3s ease-out;
    transition: all .3s ease-out;
}

.contact-wrapper i,
.contact-wrapper img {
    float: right;
    margin-right: 20px;
    margin-left: 20px;
    margin-bottom: 20px;
    -webkit-transition: .3s;
    transition: .3s;
}

.contact-wrapper .single-contact:hover i,
.contact-wrapper .single-contact:hover img {
    -webkit-transform: scale(1.18);
    transform: scale(1.18);
}

.contact-wrapper .single-contact:hover p {
    color: #2c3145;
}

/*
==========================================
    05. Our Service
==========================================
*/

.service-box figure {
    position: relative;
    width: 200px;
    height: 200px;
    margin: 0 auto;
    /*border-radius: 50%;*/
    -webkit-transition: .3s;
    transition: .3s;
    clip-path: polygon(50% 0, 0 100%, 100% 100%);
    border: 7px solid;
}

.service-box:hover figure {
    box-shadow: -3.758px 26.737px 43px 0px rgba(42, 57, 63, 0.15);
}

.service-box figure figcaption {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    color: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
    padding: 0 15px;
    z-index: 2;
    -webkit-transform: scale(0);
    transform: scale(0);
    clip-path: polygon(50% 0, 0 100%, 100% 100%);
}

.service-box:hover figure figcaption {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}

.service-box figure:after {
    /*content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #2c3145;
    opacity: .7;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
    border-radius: 50%;
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    visibility: hidden;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
    -webkit-transform: scale(0);
    transform: scale(0);*/
}

.service-box:hover figure:after {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: .7;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
    visibility: visible;
}

.service-box figure figcaption .boxed-btn {
    padding: 14px 24px;
    color: #fff;
}

.service-box h4 {
    margin-top: 20px;
    margin-bottom: 10px;
}

.service-box p {
    margin-bottom: 14px;
}

    .service-box p.price {
        margin-bottom: 0;
    }


/*
==========================================
    06. Portfolio
==========================================
*/

#portfolio {
    background: #f7f7f7;
}

.portfolio-tabs {
    margin-bottom: 50px;
}

.nav-tabs {
    border: none;
    width: 60%;
    margin: 0 auto;
    text-align: center;
    border: 1px solid #ebebeb;
    border-bottom: 2px solid #ebebeb;
    border-radius: 20px;
}

    .nav-tabs .nav-item:first-child .nav-link {
        border-radius: 0 20px 20px 0;
    }

    .nav-tabs .nav-item:last-child .nav-link {
        border-radius: 20px 0 0 20px;
    }

    .nav-tabs .nav-item {
        width: 16.666666666%;
    }

    .nav-tabs a.nav-link {
        color: #5e6271;
        background: #fff;
        -webkit-transition: .3s all;
        transition: .3s all;
        border: none;
    }

    .nav-tabs .nav-link.active {
        border: none;
        color: #fff;
        border-radius: 0;
    }

        .nav-tabs .nav-link.active:hover {
            color: #fff;
        }

.tab-pane.active {
    -webkit-animation: slide-down .3s ease-in;
    animation: slide-down .3s ease-in;
}

@-webkit-keyframes slide-down {
    0% {
        -webkit-transform: scaleY(0);
        transform: scaleY(0);
    }

    100% {
        -webkit-transform: scaleY(1);
        transform: scaleY(1);
    }
}

@keyframes slide-down {
    0% {
        -webkit-transform: scaleY(0);
        transform: scaleY(0);
    }

    100% {
        -webkit-transform: scaleY(1);
        transform: scaleY(1);
    }
}

.tab-content ul li {
    width: 30%;
    float: right;
    padding: 15px;
    -webkit-transition: .3s all;
    transition: .3s all;
    border-bottom: 1px dashed #dedede;
    margin-left: 30px;
}

    .tab-content ul li video {
        width: 100%;
        max-height: 320px;
        height: 160px;
    }

    .tab-content ul li:hover {
        border-radius: 2px;
        background: #fff;
        box-shadow: -2.505px 17.825px 23px 0px rgba(42, 57, 63, 0.15);
        border-color: #fff;
    }

    .tab-content ul li img {
        float: right;
        margin-left: 20px;
    }

    .tab-content ul li h4 {
        margin-top: 14px;
        margin-bottom: 8px;
        -webkit-transition: .3s all;
        transition: .3s all;
    }

        .tab-content ul li h4 .price {
            float: left;
        }

    .tab-content ul li:nth-child(7),
    .tab-content ul li:nth-child(8) {
        border-bottom: 0;
    }


/*
==========================================
    07. Feature
==========================================
*/

#feature {
    background: url(/src/Assets/img/bg/feature-bg.jpg) no-repeat;
    background-position: center;
    background-size: cover;
    color: #fff;
}

    #feature .section-title h2,
    #feature h4 {
        color: #fff;
    }

    #feature h4 {
        margin-bottom: 10px;
    }

.feature-icon {
    width: 85px;
    height: 85px;
    text-align: center;
    border: 1px solid #675d56;
    border-radius: 50%;
    -webkit-transition: .3s all;
    transition: .3s all;
    margin: 0 auto;
    margin-bottom: 20px;
    position: relative;
}

    .feature-icon:after {
        pointer-events: none;
        position: absolute;
        width: 100%;
        height: 100%;
        border-radius: 50%;
        content: '';
        box-sizing: content-box;
    }

.feature-icon {
    background: rgba(255, 255, 255, 0.1);
    -webkit-transition: -webkit-transform ease-out 0.1s, background 0.2s;
    -webkit-transition: background 0.2s, -webkit-transform ease-out 0.1s;
    transition: background 0.2s, -webkit-transform ease-out 0.1s;
    transition: transform ease-out 0.1s, background 0.2s;
    transition: transform ease-out 0.1s, background 0.2s, -webkit-transform ease-out 0.1s;
}

    .feature-icon:after {
        top: 0;
        right: 0;
        padding: 0;
        z-index: -1;
        box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.1);
        opacity: 0;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
        -webkit-transform: scale(0.9);
        transform: scale(0.9);
    }

.feature-box:hover .feature-icon {
    -webkit-transform: scale(0.93);
    transform: scale(0.93);
    color: #fff;
}

    .feature-box:hover .feature-icon:after {
        -webkit-animation: sonarEffect 1.3s ease-out 75ms;
        animation: sonarEffect 1.3s ease-out 75ms;
    }

@-webkit-keyframes sonarEffect {
    0% {
        opacity: 0.3;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
    }

    40% {
        opacity: 0.5;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
        box-shadow: 0 0 0 2px rgba(236, 85, 152, 0.1), 0 0 10px 10px transparent, 0 0 0 10px rgba(236, 85, 152, 0.5);
    }

    100% {
        box-shadow: 0 0 0 2px rgba(236, 85, 152, 0.1), 0 0 10px 10px transparent, 0 0 0 10px rgba(236, 85, 152, 0.5);
        -webkit-transform: scale(1.5);
        opacity: 0;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    }
}

@keyframes sonarEffect {
    0% {
        opacity: 0.3;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
    }

    40% {
        opacity: 0.5;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
        box-shadow: 0 0 0 2px rgba(236, 85, 152, 0.1), 0 0 10px 10px rgba(0, 0, 0, .3), 0 0 0 10px rgba(236, 85, 152, 0.5);
    }

    100% {
        box-shadow: 0 0 0 2px rgba(236, 85, 152, 0.1), 0 0 10px 10px rgba(0, 0, 0, .3), 0 0 0 10px rgba(236, 85, 152, 0.5);
        -webkit-transform: scale(1.5);
        transform: scale(1.5);
        opacity: 0;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    }
}

/*
==========================================
    08. Pricing
==========================================
*/

.pricing-box {
    padding: 50px 0;
    height: 560px;
    border-radius: 15px;
    box-shadow: 0px 1px 1px 0px rgba(44, 49, 59, 0.15);
    position: relative;
    transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

    .pricing-box:hover {
        -webkit-transform: translateY(-20px);
        transform: translateY(-20px);
        -ms-box-shadow: 0px 0px 39px 2px rgba(236, 236, 236, 1);
        -o-box-shadow: 0px 0px 39px 2px rgba(236, 236, 236, 1);
        box-shadow: -3.758px 26.737px 43px 0px rgba(42, 57, 63, 0.15);
    }

    .pricing-box h3 {
        margin-bottom: 15px;
    }

    .pricing-box hr {
        width: 20px;
        height: 20px;
        background: url(/src/Assets/img/section-icon.png) no-repeat;
        background-size: cover;
        border: none;
        position: relative;
        margin: 0 auto;
        margin-bottom: 30px;
    }

        .pricing-box hr:after {
            content: '';
            width: 50px;
            height: 1px;
            position: absolute;
            right: -60px;
            top: 50%;
        }

        .pricing-box hr:before {
            content: '';
            width: 50px;
            height: 1px;
            position: absolute;
            left: -60px;
            top: 50%;
        }

    .pricing-box .price span {
        color: #2c3145;
    }

.pricing-content {
    margin-top: 40px;
}

.pricing-box .boxed-btn {
    border: 1px solid;
    border-radius: 23px;
    padding: 12px 30px;
    background: #fff;
    -webkit-transition: .3s all;
    transition: .3s all;
    position: absolute;
    bottom: 50px;
    right: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}

.pricing-box:hover .boxed-btn {
    color: #fff;
}

.recomended-text {
    width: 250px;
    padding: 10px 0;
    color: #fff;
    position: absolute;
    top: 16px;
    right: -65px;
    -webkit-transform: rotate(-35deg);
    transform: rotate(-35deg);
}

.recomended {
    overflow: hidden;
    box-shadow: -3.758px 26.737px 43px 0px rgba(42, 57, 63, 0.15);
}

    .recomended .boxed-btn {
        color: #fff;
    }


/*
==========================================
    09. counter
==========================================
*/

#counter {
    background: url(/src/Assets/img/bg/counter-bg.jpg) no-repeat center / 100% 100%;
    padding: 75px 0;
}

    #counter .single-box img {
        margin-bottom: 15px;
    }

    #counter .single-box i {
        margin-bottom: 20px;
    }

    #counter .single-box h3 {
        margin-bottom: 5px;
        color: #191919;
    }

    #counter .single-box p {
        color: #707070;
    }


/*
==========================================
    10. Product
==========================================
*/

#product {
    overflow: hidden;
}

    #product.section-padding {
        padding-bottom: 35px;
    }

.single-product {
    box-shadow: 0px 1px 4px 0px rgba(44, 49, 59, 0.15);
    border-radius: 5px;
    margin: 5px 5px 45px;
    position: relative;
    -webkit-transition: .3s all;
    transition: .3s all;
    padding: 40px 0;
}

    .single-product:hover {
        box-shadow: -3.758px 26.737px 43px 0px rgba(42, 57, 63, 0.15);
    }

    .single-product .sale {
        position: absolute;
        top: 20px;
        left: 0;
        padding: 6px 16px;
        color: #fff;
    }

.product-img {
    height: 250px;
    line-height: 250px;
}

.rate {
    margin-bottom: 20px;
}

    .rate li {
        display: inline-block;
        color: #f68e56;
    }

.single-product h5 {
    margin-bottom: 10px;
}

.single-product .overlay {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: rgba(44, 49, 69, .7);
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    visibility: hidden;
    -webkit-transition: .3s all;
    transition: .3s all;
    -webkit-transform: scale(.5);
    transform: scale(.5);
}

.single-product:hover .overlay {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    visibility: visible;
}

.single-product .overlay li {
    display: inline-block;
}

.single-product .overlay .icons {
    position: absolute;
    right: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    top: 50%;
}

.single-product .overlay li a {
    width: 50px;
    height: 50px;
    background: #fff;
    border-radius: 50%;
    display: block;
    -webkit-transition: .3s all;
    transition: .3s all;
}

    .single-product .overlay li a:hover {
        color: #fff;
    }


.product-carousel .owl-nav {
    display: block;
}

.product-carousel .owl-next,
.product-carousel .owl-prev {
    width: 50px;
    height: 50px;
    text-align: center;
    background: #9598a2;
    border-radius: 50%;
    color: #fff;
    cursor: pointer;
    position: absolute;
    top: 50%;
    -webkit-transition: .7s;
    transition: .7s;
}

    .product-carousel .owl-next:hover,
    .product-carousel .owl-prev:hover {
        color: #fff;
    }

.product-carousel .owl-prev {
    right: -50px;
}

.product-carousel .owl-next {
    left: -50px;
}

/*
==========================================
    11. Testimonial
==========================================
*/

#testimonial {
    background: url(/src/Assets/img/bg/testimonial-bg.jpg) no-repeat center / 100% 100%;
}

.single-testimonial p {
    width: 60%;
    margin: 0 auto;
    margin-bottom: 20px;
}

.testimonial-carousel .owl-dots {
    width: 300px;
    margin: 20px auto 0;
}

    .testimonial-carousel .owl-dots div {
        width: 80px;
        height: 80px;
        border-radius: 50%;
        display: inline-block;
        margin-left: 15px;
        opacity: .5;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
        cursor: pointer;
        -webkit-transition: .3s all;
        transition: .3s all;
    }

    .testimonial-carousel .owl-dots .owl-dot.active {
        opacity: 1 !important;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    }

    .testimonial-carousel .owl-dots div:nth-child(1) {
        background: url(/src/Assets/img/testimonial/testimonial01.png) no-repeat center / cover;
    }


    .testimonial-carousel .owl-dots div:nth-child(2) {
        background: url(/src/Assets/img/testimonial/testimonial02.png) no-repeat center / cover;
    }


    .testimonial-carousel .owl-dots div:nth-child(3) {
        background: url(/src/Assets/img/testimonial/testimonial03.png) no-repeat center / cover;
    }

.testimonial-carousel .owl-nav {
    display: block;
}

.testimonial-carousel .owl-next,
.testimonial-carousel .owl-prev {
    color: #9598a2;
    cursor: pointer;
    position: absolute;
    top: 76%;
    -webkit-transition: .7s;
    transition: .7s;
}

.testimonial-carousel .owl-prev {
    right: 350px;
}

.testimonial-carousel .owl-next {
    left: 350px;
}


/*
==========================================
    12.Appoinment
==========================================
*/

#appoinment {
    background: url(/src/Assets/img/bg/appoinmentbg.jpg) no-repeat center / cover;
}

.opening-hours {
    color: #fff;
    margin-top: 50px;
    padding: 70px 80px;
    border: 5px solid rgba(255, 255, 255, .2);
    border-right: 0;
    float: right;
    width: 50%;
}

    .opening-hours h3 {
        margin-bottom: 20px;
        color: #fff;
    }

    .opening-hours p {
        margin-bottom: 20px;
    }

    .opening-hours li {
        margin-bottom: 5px;
    }

.appoinment-wrapper {
    border-radius: 10px;
    background: #fff;
    padding: 50px;
    float: right;
    width: 50%;
}

    .appoinment-wrapper input[type=date],
    .appoinment-wrapper input[type=time],
    .appoinment-wrapper select {
        padding: 8px 15px;
        border: 1px solid #f7f7f7;
        background: #f7f7f7;
        margin-bottom: 25px;
        width: 100%;
        -webkit-transition: .3s all;
        transition: .3s all;
        border-radius: 2px;
    }

    .appoinment-wrapper .input {
        background: #f7f7f7;
        margin-bottom: 25px;
    }

    .appoinment-wrapper .input__field--hantus:focus + .input__label--hantus .input__label-content--hantus,
    .appoinment-wrapper .input--filled .input__label-content--hantus {
        -webkit-transform: scale3d(0.81, 0.81, 1) translateY(-42px);
        transform: scale3d(0.81, 0.81, 1) translateY(-42px);
    }

    .appoinment-wrapper select {
        padding: 12px 15px;
    }

        .appoinment-wrapper select#options {
            width: 100%;
        }

    .appoinment-wrapper .dtb input,
    .appoinment-wrapper .dtb select {
        width: 31.2%;
        margin-left: 10px;
    }

    .appoinment-wrapper .dtb select {
        margin-left: 0;
    }

    .appoinment-wrapper button {
        border: none;
        padding: 14px 50px;
        cursor: pointer;
        -webkit-transition: .3s;
        transition: .3s;
    }


/*
==========================================
    13.Expert Beauticians
==========================================
*/

.single-beauticians {
    -webkit-perspective: 1000px;
    perspective: 1000px;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    position: relative;
    width: 100%;
    border-radius: 5px;
}

    .single-beauticians .img-wrapper img {
        margin: auto;
        -webkit-perspective: inherit;
        perspective: inherit;
        position: absolute;
        right: 0;
        left: 0;
        top: 0;
        bottom: 0;
        height: 100%;
        width: 100%;
    }

    .single-beauticians .img-wrapper {
        -webkit-transform: rotateY(0deg);
        transform: rotateY(0deg);
        -webkit-transform-style: preserve-3d;
        transform-style: preserve-3d;
        -webkit-perspective: 1000px;
        perspective: 1000px;
        -webkit-transform-style: PRESERVE-3D;
        transform-style: PRESERVE-3D;
        background-size: cover;
        background-position: center;
        -webkit-transition: -webkit-transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1);
        transition: -webkit-transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1);
        transition: transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1);
        transition: transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1), -webkit-transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1);
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        text-align: center;
        height: auto;
        height: 285px;
        width: 100%;
        position: relative;
        border-radius: 5px;
        box-shadow: 0px 1px 4px 0px rgba(44, 49, 59, 0.15);
        overflow: hidden;
    }

.beautician-footer-text {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    background: #fff;
    z-index: 1;
    padding: 7px 15px;
    border-radius: 0 0 5px 5px;
}

.beautician-content {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    -webkit-perspective: 1000px;
    perspective: 1000px;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    background-size: cover;
    background-position: center;
    -webkit-transition: -webkit-transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1);
    transition: -webkit-transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1);
    transition: transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1);
    transition: transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1), -webkit-transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    text-align: right;
    height: 285px;
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
    width: 100%;
    color: #fff;
    background: #2c3145;
    padding: 30px;
    border-radius: 5px;
    box-shadow: -3.758px 26.737px 43px 0px rgba(42, 57, 63, 0.15);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.single-beauticians:hover .img-wrapper,
.single-beauticians:hover .beautician-content {
    -webkit-transition: -webkit-transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1);
    transition: -webkit-transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1);
    transition: transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1);
    transition: transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1), -webkit-transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1)
}

.single-beauticians:hover .img-wrapper {
    -webkit-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d
}

.single-beauticians:hover .beautician-content {
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d
}


.single-beauticians .beautician-content .inner-content {
    -webkit-perspective: inherit;
    perspective: inherit;
    -webkit-transform: translateY(0%) translateZ(60px) scale(0.94);
    transform: translateY(0%) translateZ(60px) scale(0.94);
}

.single-beauticians .beautician-content p {
    margin: 0;
}

.single-beauticians .beautician-content .inner-content {
    padding: 7% 0
}

.single-beauticians .social li {
    display: inline-block;
    margin-left: 10px;
}

    .single-beauticians .social li a {
        width: 35px;
        height: 35px;
        text-align: center;
        background: #fff;
        display: block;
        border-radius: 50%;
        -webkit-transition: .3s;
        transition: .3s;
        overflow: hidden;
    }

        .single-beauticians .social li a:hover {
            color: #fff;
        }

.single-beauticians .social a:hover i {
    -webkit-animation: socialFxD .3s forwards;
    animation: socialFxD .3s forwards
}

@keyframes socialFxD {
    49% {
        -webkit-transform: translateX(100%);
        transform: translateX(100%)
    }

    50% {
        opacity: 0;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%)
    }

    51% {
        opacity: 1;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)"
    }
}


.single-beauticians h5 {
    color: #fff;
}

.single-beauticians .beautician-content p {
    margin-bottom: 10px;
}


/*
==========================================
    14. Partner
==========================================
*/

#partner {
    background: #eee;
}

.single-partner {
    height: 120px;
    text-align: center;
    position: relative;
    cursor: crosshair;
    -webkit-transition: all .3s ease-in-out 0s;
    transition: all .3s ease-in-out 0s
}

.inner-partner {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}

.single-partner img {
    -webkit-transition: all .3s ease-in-out 0s;
    transition: all .3s ease-in-out 0s;
    max-width: 180px
}

.single-partner:hover img {
    -webkit-animation-name: zoomIn;
    animation-name: zoomIn;
    -webkit-transform-origin: center;
    transform-origin: center;
    -webkit-animation-duration: .4s;
    animation-duration: .4s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear
}


/*
==========================================
    15. Subscribe
==========================================
*/

#subscribe {
    background: #fff;
    padding: 50px 0 100px;
    border-bottom: 1px solid rgba(0, 0, 0, .1);
}

    #subscribe p {
        display: inline-block;
        position: relative;
        padding-left: 30px;
        margin-left: 30px;
        -webkit-transform: translateY(-30%);
        transform: translateY(-30%);
    }

        #subscribe p:after {
            content: '';
            position: absolute;
            top: 3px;
            left: 0;
            width: 1px;
            height: 18px;
            background: #cacaca;
        }

    #subscribe i {
        margin-left: 6px;
    }

    #subscribe ul li {
        display: inline-block;
    }

    #subscribe .subscribe-social li {
        margin-left: 10px;
        margin-right: 0;
    }

.subscribe-social li a {
    text-align: center;
    color: #fff;
    display: block;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #5e6271;
    -webkit-transition: .3s all;
    transition: .3s all;
    overflow: hidden;
}

.subscribe-social-contact {
    padding: 40px 95px;
}

#subscribe .subscribe-social i {
    color: #fff;
    margin-left: 0;
}

.subscribe-social a:hover i {
    -webkit-animation: socialFxD .3s forwards;
    animation: socialFxD .3s forwards
}

@-webkit-keyframes socialFxD {
    49% {
        -webkit-transform: translateX(100%);
        transform: translateX(100%)
    }

    50% {
        opacity: 0;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%)
    }

    51% {
        opacity: 1;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)"
    }
}

@keyframes socialFxD {
    49% {
        -webkit-transform: translateX(100%);
        transform: translateX(100%)
    }

    50% {
        opacity: 0;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%)
    }

    51% {
        opacity: 1;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)"
    }
}

#subscribe li {
    margin-right: 30px;
}

    #subscribe li a {
        color: #5e6271;
    }

.subscribe-top-right {
    -webkit-transform: translateY(-30%);
    transform: translateY(12%);
}

/*
==========================================
    16.footer-copyright
==========================================
*/

#footer-copyright {
    padding: 40px 0;
    background: #f7f7f7;
}

.copyright-text ul li {
    display: inline-block;
}

.copyright-text a {
    color: #9c9c9c;
    -webkit-transition: .3s all;
    transition: .3s all;
    margin-left: 20px;
}

.payment-method li {
    display: inline-block;
    margin-left: 20px;
}

    .payment-method li a {
        width: 50px;
        height: 30px;
        display: block;
        text-align: center;
        box-shadow: 1px 1px 1px 1px rgba(44, 49, 59, 0.55);
        -webkit-transition: .3s all;
        transition: .3s all;
        color: #2c3145;
    }

        .payment-method li a:hover {
            box-shadow: 1px 5px 5px 1px rgba(44, 49, 59, 0.55);
        }

/* Scroll Up */

.scrollup {
    width: 50px;
    height: 50px;
    border-radius: 23px;
    text-align: center;
    position: fixed;
    bottom: 30px;
    left: 30px;
    display: none;
    color: #fff;
    z-index: 888;
    -webkit-transition: .3s;
    transition: .3s;
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, .5)
}

    .scrollup:hover {
        background: #fff;
        box-shadow: 0 2px 12px 0 rgba(0, 0, 0, .5)
    }


/*
==========================================
    17. Breadcrumb
==========================================
*/

#breadcrumb-area {
    position: relative;
    background: url(/src/Assets/img/bg/breadcrumb-bg.jpg);
    background-size: cover;
    background-position: center;
    z-index: 2;
    padding: 100px 0 100px;
    color: #fff;
}

    #breadcrumb-area h2 {
        color: #fff;
        margin-bottom: 10px;
    }

    #breadcrumb-area ul li {
        display: inline-block;
        position: relative;
        margin-left: 10px;
    }

        #breadcrumb-area ul li:after {
            content: '\f105';
            font-family: FontAwesome;
            margin-right: 10px;
        }

        #breadcrumb-area ul li:last-child:after {
            display: none;
        }

    #breadcrumb-area ul li {
        color: #fff;
    }



/*
=================================================================
    02. About Us page
================================================================
*/


/*
==========================================
    01. Welcome
==========================================
*/

#welcome .section-title h3 {
    margin-bottom: 5px;
}

.welcome-box {
    background: #fff;
    -webkit-transition: .3s all;
    transition: .3s all;
    box-shadow: 0px 1px 4px 0px rgba(44, 49, 59, 0.15);
}

    .welcome-box:hover {
        box-shadow: -3.758px 26.737px 43px 0px rgba(42, 57, 63, 0.15);
    }

.welcome-content {
    padding: 30px;
}

.welcome-box img {
    width: 100%;
}

.welcome-box h4 {
    margin-bottom: 10px;
}

.welcome-box p {
    margin-bottom: 20px;
}

.welcome-box a {
    color: #c2c2c2;
    -webkit-transition: .3s all;
    transition: .3s all;
}

    .welcome-box a i {
        margin-right: 5px;
    }

/*
==========================================
    02. Why choose us
==========================================
*/

#wcu {
    background: #f7f7f7;
    position: relative;
}

.video-section {
    background: url(/src/Assets/img/about-page/wcu.jpg) no-repeat center / cover;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    height: 100%;
    width: 45%;
}

    .video-section:after {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;
        opacity: .5;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
        z-index: -1;
        background: #2c3145;
    }

    .video-section .play-icon {
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;
        color: #fff;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-transition: .5s;
        transition: .5s;
    }

        .video-section .play-icon:hover {
            -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
        }

.watch-more {
    position: absolute;
    bottom: 20px;
    right: 20px;
}

    .watch-more a {
        color: #fff;
    }

.wcu-content {
    padding: 60px 0;
}

#wcu h2 {
    margin-bottom: 20px;
}

#wcu ul {
    margin: 16px 0 30px;
}

    #wcu ul li {
        margin-bottom: 8px;
    }

        #wcu ul li:before {
            content: '\f00c';
            font-family: 'FontAwesome';
            margin-left: 10px;
        }

#wcu .fun-fact h2 {
    margin-bottom: 5px;
}

/*
==========================================
    03. About-partner
==========================================
*/

#about-partner {
    padding: 80px 0;
}

    #about-partner .single-partner {
        width: 100%;
        float: right;
        background: #f7f7f7;
        border: 0px solid rgba(0, 0, 0, .1);
    }

        #about-partner .single-partner:nth-child(1),
        #about-partner .single-partner:nth-child(2),
        #about-partner .single-partner:nth-child(3),
        #about-partner .single-partner:nth-child(4) {
            border-bottom-width: 1px;
        }

        #about-partner .single-partner:nth-child(2) {
            border-left-width: 1px;
            border-right-width: 1px;
        }

        #about-partner .single-partner:nth-child(3) {
            border-right-width: 1px;
        }

        #about-partner .single-partner:nth-child(6) {
            border-left-width: 1px;
            border-right-width: 1px;
        }

        #about-partner .single-partner:nth-child(7) {
            border-right-width: 1px;
        }

#portfolio.pricing-page {
    background: #fff;
}


/*
=================================================================
    03. Gallery page
================================================================
*/

.gallery-tab-sorting {
    margin-bottom: 40px;
}

    .gallery-tab-sorting li {
        display: inline-block;
        padding: 0 10px;
    }

        .gallery-tab-sorting li a {
            color: #5e6271;
            padding: 0 5px 5px;
            display: block;
            position: relative;
            -webkit-transition: .3s all;
            transition: .3s all;
        }

            .gallery-tab-sorting li a:after {
                content: '';
                width: 100%;
                height: 2px;
                position: absolute;
                bottom: 0;
                right: 0;
                -webkit-transform: scale(0);
                transform: scale(0);
                -webkit-transition: .3s all;
                transition: .3s all;
            }

            .gallery-tab-sorting li a.active:after,
            .gallery-tab-sorting li a:hover:after {
                -webkit-transform: scale(1);
                transform: scale(1);
            }

.gallery-page .gallery-item figure {
    position: relative;
    display: inline-block;
    overflow: hidden;
    width: 100%;
    height: 100%;
    margin-bottom: 0;
    -webkit-transform: scale(1.1, 1.05);
    transform: scale(1.1, 1.05);
}

    .gallery-page .gallery-item figure img {
        height: 100%;
        width: 100%;
        -webkit-transform: scaleY(1);
        transform: scaleY(1);
        -webkit-transition: all 0.7s ease-in-out;
        transition: all 0.7s ease-in-out;
    }

    .gallery-page .gallery-item figure:hover img {
        -webkit-transform: scale(10);
        transform: scale(10);
        -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
        filter: alpha(opacity=0);
        opacity: 0;
    }

.gallery-page .gallery-item figcaption {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    color: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    -webkit-transition: all 0.5s linear;
    transition: all 0.5s linear;
    -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    opacity: 0;
    padding: 0 15px;
    z-index: 2;
    background: rgba(44, 49, 69, .7);
}

.gallery-page .gallery-item:hover figcaption {
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}

.gallery-page .gallery-item figcaption ul li {
    display: inline-block;
    margin-left: 5px;
}

    .gallery-page .gallery-item figcaption ul li a {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background: #fff;
        display: block;
        text-align: center;
        -webkit-transition: all 0.4s ease-in;
        transition: all 0.4s ease-in;
    }

        .gallery-page .gallery-item figcaption ul li a:hover {
            color: #fff;
        }

.gallery-page .gallery-item figcaption h4 {
    color: #fff;
    margin: 15px 0 0;
}

.gallery-page .gallery-item figcaption h4,
.gallery-page .gallery-item figcaption ul li,
.gallery-page .gallery-item figcaption p {
    -webkit-transition: all 0.5s linear;
    transition: all 0.5s linear;
    -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
}

.gallery-page .gallery-item figure:hover figcaption h4,
.gallery-page .gallery-item figure:hover figcaption ul li,
.gallery-page .gallery-item figure:hover figcaption p {
    -webkit-transform: scale(1);
    transform: scale(1);
    -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    opacity: 1;
}

/*
=================================================================
    04. Contact page
================================================================
*/

#map {
    height: 400px;
    margin-bottom: 50px;
}

#contact h2 {
    margin-bottom: 50px;
}

.contact-form textarea:focus,
.contact-form input:focus {
    border-style: 0;
}

.contact-form .input__label--hantus {
}

.contact-form .input__field {
    padding: 10px 15px;
    border: 1px solid #eee;
}

    .contact-form .input__field:focus {
        border-color: transparent;
    }

.contact-form .graphic--hantus {
    stroke: transparent;
}

.contact-form button {
    border: none;
    cursor: pointer;
}

.info-box {
    padding: 30px 40px;
    box-shadow: 0px 1px 4px 0px rgba(44, 49, 59, 0.15);
    margin-bottom: 20px;
    -webkit-transition: .3s all;
    transition: .3s all;
}

    .info-box:hover {
        box-shadow: 0px 4px 30px 0px rgba(44, 49, 59, 0.15);
    }

.contact-info .info-box:last-child {
    margin-bottom: 0;
}

.info-box i {
    float: right;
    margin-left: 10px;
}

.info-box h4 {
    margin-bottom: 10px;
}


/*
=================================================================
    05. Portfolio page
================================================================
*/

.portfolio-tab-sorting {
    border: 1px solid #ebebeb;
    width: 64.2%;
    margin: 0 auto 50px;
    border-radius: 23px;
    overflow: hidden;
}

    .portfolio-tab-sorting li {
        display: inline-block;
    }

        .portfolio-tab-sorting li a {
            padding: 10px 25px;
            color: #5e6271;
            -webkit-transition: .3s all;
            transition: .3s all;
            display: block;
            margin-left: -4px;
        }

            .portfolio-tab-sorting li a:hover,
            .portfolio-tab-sorting li a.active {
                color: #fff;
            }

.portfolio-item {
    margin-bottom: 15px;
}

.portfolio-page .portfolio-item figure {
    position: relative;
    display: inline-block;
    overflow: hidden;
    width: 100%;
    height: 100%;
    margin-bottom: 0;
    border-radius: 5px;
    background: rgba(44, 49, 69, .7);
    -webkit-transition: .3s all;
    transition: .3s all;
}

    .portfolio-page .portfolio-item figure:hover {
        box-shadow: -3.758px 15px 30px 0px rgba(42, 57, 63, 0.15);
    }


    .portfolio-page .portfolio-item figure img {
        max-height: 100%;
        width: 100%;
        -webkit-transition: opacity 1s, -webkit-transform 1s;
        transition: opacity 1s, -webkit-transform 1s;
        transition: opacity 1s, transform 1s;
        transition: opacity 1s, transform 1s, -webkit-transform 1s;
    }

    .portfolio-page .portfolio-item figure:hover img {
        opacity: 0.4;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
        -webkit-transform: scale3d(1.1, 1.1, 1);
        transform: scale3d(1.1, 1.1, 1);
    }

.portfolio-page .portfolio-item figcaption {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    color: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    -webkit-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
    opacity: 0;
    padding: 0 15px;
    z-index: 2;
    border-radius: 5px;
}

.portfolio-page .portfolio-item figure:hover figcaption {
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}

.portfolio-page .portfolio-item figcaption h4 {
    color: #fff;
    margin: 0 0 5px;
}

.portfolio-page .portfolio-item figure:hover figcaption h4 {
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
}

.portfolio-page .portfolio-item figcaption h6 {
    color: #fff;
    margin: 0 0 12px;
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    transition: opacity 0.35s, transform 0.35s, -webkit-transform 0.35s;
    -webkit-transform: translate3d(-360px, 0, 0);
    transform: translate3d(-360px, 0, 0);
}

.portfolio-page .portfolio-item figure:hover figcaption h6 {
    -webkit-transition-delay: 0.15s;
    transition-delay: 0.05s;
}

.portfolio-page .portfolio-item figcaption p {
    margin-bottom: 10px;
}

.portfolio-page .portfolio-item figure:hover figcaption p {
    -webkit-transition-delay: 0.2s;
    transition-delay: 0.1s;
}

.portfolio-page .portfolio-item figcaption a {
    display: inline-block;
    color: #fff;
    text-decoration: underline;
    -webkit-transition: .3s all;
    transition: .3s all;
}

.portfolio-page .portfolio-item figure:hover figcaption a {
    -webkit-transition-delay: 0.25s;
    transition-delay: 0.15s;
}

.portfolio-page .portfolio-item figure figcaption a:hover {
    color: rgba(255, 255, 255, .7);
}

.portfolio-page .portfolio-item figcaption p,
.portfolio-page .portfolio-item figcaption a,
.portfolio-page .portfolio-item figcaption h6,
.portfolio-page .portfolio-item figcaption h4 {
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    transition: opacity 0.35s, transform 0.35s, -webkit-transform 0.35s;
    -webkit-transform: translate3d(-360px, 0, 0);
    transform: translate3d(-360px, 0, 0);
}

.portfolio-page .portfolio-item figure:hover figcaption h4,
.portfolio-page .portfolio-item figure:hover figcaption h6,
.portfolio-page .portfolio-item figure:hover figcaption p,
.portfolio-page .portfolio-item figure:hover figcaption a {
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}


/*
=============================
    Pagination
=============================
*/

li.page-item .page-link {
    background: #fff;
    border: 1px solid rgba(0, 0, 0, .1);
    margin-left: 10px;
    border-radius: 5px;
    color: #5e6271;
    padding: 10px 16px;
    -webkit-transition: .3s all;
    transition: .3s all;
}

    li.page-item .page-link:hover,
    li.page-item.active .page-link {
        color: #fff;
    }

nav.portfolio-pagination {
    margin-top: 30px;
}


/*
=================================================================
    06. Blog page
================================================================
*/

.full-width.section-padding {
    padding-bottom: 50px;
}






/*
=======================================
    01. Single Post
=======================================
*/

.single-post .article-post {
    border-radius: 0;
    box-shadow: none;
    margin-bottom: 0;
}

    .single-post .article-post .post-thumb {
        border-radius: 0;
    }

    .single-post .article-post .post-content {
        padding: 30px 0;
    }

.single-post .post-header {
    border-bottom: 1px solid #c2c2c2;
    padding-bottom: 10px;
}

    .single-post .post-header ul {
        display: inline-block;
    }

    .single-post .post-header .text-right {
        float: left;
    }

        .single-post .post-header .text-right li {
            display: inline-block;
            margin-right: 15px;
        }

            .single-post .post-header .text-right li a {
                color: #c2c2c2;
            }

                .single-post .post-header .text-right li a i {
                    margin-left: 5px;
                }

.meta-data ul {
    display: inline-block;
}

    .meta-data ul.text-right {
        float: left;
    }

    .meta-data ul li {
        display: inline-block;
        color: #2c3145;
    }

        .meta-data ul li a {
            color: #c2c2c2;
        }

    .meta-data ul.share li a {
        padding-right: 15px;
    }

.post-new-comment h4 {
    margin-bottom: 10px;
}

.media p.comment {
    margin-bottom: 6px;
}

/* =====================================
    02. Post Comment Area
===================================== */

.post-comments-area {
    margin-top: 30px;
}

.comment-author a {
    color: #2c3145;
    margin-bottom: 5px;
    display: block;
}

.post-comments-area .comment-time-left {
    margin-bottom: 7px;
}

.post-comments-area .media-left {
    padding-left: 25px;
}

.post-comments-area .media-body {
    position: relative;
}

.comment-date {
    position: absolute;
    left: 0;
    top: 0;
    color: #c2c2c2;
}

.media ul li {
    display: inline-block;
    color: #5e6271;
    margin-left: 10px;
    padding-left: 10px;
    position: relative;
}

    .media ul li:after {
        content: '';
        position: absolute;
        top: 5px;
        left: 0;
        width: 1px;
        height: 16px;
        background: #c2c2c2;
    }

    .media ul li:last-child:after {
        display: none;
    }

    .media ul li i {
        margin-left: 5px;
    }

.post-comments-area .media {
    border-bottom: 1px solid #f7f7f7;
    margin: 0;
    padding: 25px 0;
}

.post-comments-area p {
    margin-bottom: 0;
}

.media-replay .media {
    padding-right: 30px;
}

.post-new-comment {
    padding-top: 40px;
}

    .post-new-comment h3 {
        margin-bottom: 30px;
    }

    .post-new-comment .form-control {
        border: 1px solid #e5e5e5;
        border-radius: 0;
        box-shadow: none;
    }

    .post-new-comment .boxed-btn {
        border: none;
        cursor: pointer;
    }

/*
===================================================================================
    07. 404 Page
=================================================================================== */


/* 404 */

#page-404 {
    padding-bottom: 80px;
    text-transform: uppercase;
}

    #page-404 h2 {
        margin: 40px 0 20px;
    }

    #page-404 h3 {
        margin: 0 0 20px;
        opacity: .8;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
    }

    #page-404 .boxed-btn {
        text-transform: capitalize;
    }


/*
===================================================================================
    08. Coming Soon Page
=================================================================================== */

.coming-soon-wrapper {
    background: url(/src/Assets/img/coming-soon.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    z-index: 2;
    height: 100%;
    color: #fff;
}

    .coming-soon-wrapper:after {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;
        background: #000;
        opacity: .5;
        z-index: -1;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
    }

    .coming-soon-wrapper .logo {
        margin-bottom: 50px;
        margin-top: 80px;
    }

    .coming-soon-wrapper h1 {
        margin-bottom: 10px;
        color: #fff;
    }

    .coming-soon-wrapper p {
        width: 60%;
        margin: 0 auto 20px;
    }


/* Count area */

.count-area {
    padding: 60px 0;
}

    .count-area .time-wrap {
        display: inline-block;
        position: relative;
        width: 100px;
        height: 100px;
        line-height: 100px;
        margin-top: 24px;
    }

        .count-area .time-wrap:after {
            content: '';
            position: absolute;
            top: 0;
            right: 0;
            width: 100%;
            height: 100%;
            border: 4px solid #fff;
            -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
            -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
            -webkit-perspective: 1000;
            perspective: 1000;
            -webkit-transition: -webkit-transform .3s cubic-bezier(.25, .46, .45, .94);
            transition: -webkit-transform .3s cubic-bezier(.25, .46, .45, .94);
            transition: transform .3s cubic-bezier(.25, .46, .45, .94);
            transition: transform .3s cubic-bezier(.25, .46, .45, .94), -webkit-transform .3s cubic-bezier(.25, .46, .45, .94);
        }

        .count-area .time-wrap:hover:after {
            -webkit-transform: rotate(135deg);
            transform: rotate(135deg);
        }

        .count-area .time-wrap span {
            -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
            -webkit-perspective: 1000;
            perspective: 1000;
            -webkit-transition: -webkit-transform .3s cubic-bezier(.25, .46, .45, .94);
            transition: -webkit-transform .3s cubic-bezier(.25, .46, .45, .94);
            transition: transform .3s cubic-bezier(.25, .46, .45, .94);
            transition: transform .3s cubic-bezier(.25, .46, .45, .94), -webkit-transform .3s cubic-bezier(.25, .46, .45, .94);
            -webkit-transform: rotate(-45deg);
            transform: rotate(90deg);
            right: 0;
            top: 0;
            width: 100%;
            height: 100%;
            color: #fff;
        }

    .count-area .text {
        margin-top: 35px;
        color: #fff;
    }

/* Subscribe */

.subscribe-wrapper {
    position: relative;
}

    .subscribe-wrapper .form-control {
        border: none;
        box-shadow: none;
        background: rgba(255, 255, 255, .3);
        border-radius: 0;
        height: 60px;
        border-radius: 0;
        color: #fff;
        padding: 20px;
    }

    .subscribe-wrapper button {
        border: none;
        box-shadow: none;
        color: #fff;
        position: absolute;
        left: 0;
        top: 0;
        height: 60px;
        padding: 0 20px;
        cursor: pointer;
    }

    .subscribe-wrapper .form-control::-webkit-input-placeholder {
        color: #fff;
    }

.coming-soon-wrapper footer {
    margin-top: 50px;
    margin-bottom: 80px;
}

    .coming-soon-wrapper footer .social li {
        display: inline-block;
        margin-left: 10px;
        padding-left: 10px;
        position: relative;
    }

    .coming-soon-wrapper footer .social a {
        display: block;
        width: 35px;
        height: 35px;
        border-radius: 50%;
        background: #fff;
        text-align: center;
        color: #2c3145;
        -webkit-transition: .3s;
        transition: .3s;
        overflow: hidden;
    }

.coming-soon-wrapper .social a:hover i {
    -webkit-animation: socialFxD .3s forwards;
    animation: socialFxD .3s forwards
}

@keyframes socialFxD {
    49% {
        -webkit-transform: translateX(100%);
        transform: translateX(100%)
    }

    50% {
        opacity: 0;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%)
    }

    51% {
        opacity: 1;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)"
    }
}

.coming-soon-wrapper .social a:hover i.fa-facebook-f {
    color: #3A589B;
}

.coming-soon-wrapper .social a:hover i.fa-twitter {
    color: #1CB7EB;
}

.coming-soon-wrapper .social a:hover i.fa-linkedin-in {
    color: #1686B0;
}

.coming-soon-wrapper .social a:hover i.fa-google-plus-g {
    color: #E3411F;
}

.coming-soon-wrapper .social a:hover i.fa-instagram {
    color: #6C27B3;
}

.coming-soon-wrapper .social a:hover i.fa-whatsapp {
    color: #75B73B;
}

.coming-soon-wrapper .social {
    margin-bottom: 15px;
}


/* ---- particles.js container ---- */

canvas {
    display: block;
    vertical-align: bottom;
}

#particles-js {
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url("");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
}

/*-------------------------------*/
.center {
    margin: 0 auto;
}
