body {
    font-family: 'BYekan', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'BYekan', sans-serif;
    font-weight: 500;
}

h4 {
    font-size: 20px;
    font-weight: 400;
}

.section-title h2 {
    font-size: 40px;
    line-height: 1;
}

.section-title p {
    font-size: 16px;
}

.boxed-btn {
    font-weight: 500;
    text-transform: capitalize;
    font-size: 14px;
    line-height: 21px;
}

.input__label {
    font-weight: bold;
    font-size: 70.25%;
}

.input__label--hantus {
    text-align: left;
    font-size: 16px;
    font-weight: 400;    
}

.preloader h1 {
    font-size: 20px;
    text-transform: uppercase;
}

.header-social li a {
    font-size: 12px;
    line-height: 25px;
}

.main-menu li a {
    font-weight: 500;
}

.cart-icon-wrapper {
    font-size: 16px;
}

.cart-count {
    line-height: 20px;
    font-size: 12px;
}

.sidenav .sidenav-header h3 {
    font-size: 20px;
}

.sidenav .cart-item-description h4,
.cart-remove,
.sidenav .cart-item-description p {
    font-size: 14px;
}

.sidenav .cart-item-description {
    font-size: 16px;
}

.sidenav.active .cart-item {
    font-size: 0;
}

.sb-search-input {
    font-size: 20px;
}

.sb-icon-search,
.sb-search-submit {
    line-height: 60px;
}

.header-slider h3 {
    font-family: 'BYekan', cursive;
    font-weight: 700;
    font-size: 30px;
}

.header-slider h1 {
    font-size: 48px;
    line-height: 1;
}

.header-slider .owl-next,
.header-slider .owl-prev {
    line-height: 50px;
    font-size: 24px;
}

.single-contact h4 {
    font-size: 20px;
}

.contact-wrapper i {
    font-size: 40px;
}

.contact-wrapper .single-contact:hover h4 {
    font-size: 14px;
    font-weight: 400;
}

.contact-wrapper .single-contact:hover p {
    font-size: 16px;
    font-weight: 500;
}

.service-box p.price {
    font-family: 'Dancing Script', cursive;
    font-size: 18px;
    font-weight: 700;
}

.tab-content ul li h4 .price {
    font-size: 20px;
    font-weight: 700;
    font-family: 'Dancing Script', cursive;
}

.feature-icon {
    line-height: 85px;
}

.feature-icon i {
    font-size: 40px;
    line-height: 85px;
}

.feature-box h4 {
    font-weight: 400;
}

.feature-box h4 {
    font-weight: 400;
}

.pricing-box h3 {
    font-size: 30px;
}

.pricing-box .price {
    font-size: 18px;
    font-weight: 400;
}

.pricing-box .price sup {
    font-size: 36px;
    font-weight: 500;
}

.pricing-box .price span {
    font-size: 48px;
    font-weight: 500;
}

.pricing-content li {
    line-height: 2;
    font-size: 18px;
}

.recomended-text {
    font-weight: 500;
}

#counter .single-box i {
    font-size: 45px;
}

#counter .single-box h3 {
    font-size: 40px;
    font-weight: 700;
    font-family: 'Dancing Script', cursive;
}

#counter .single-box p {
    font-size: 16px;
}

.single-product h5 {
    font-size: 18px;
    font-weight: 400;
}

.single-product .price {
    font-family: 'Dancing Script', cursive;
    font-weight: 700;
    font-size: 18px;
}

.single-product .overlay li a {
    line-height: 50px;
    font-size: 20px;
}

.product-carousel .owl-next,
.product-carousel .owl-prev {
    line-height: 50px;
    font-size: 24px;
}

.single-testimonial p {
    font-size: 22px;
    line-height: 35px;
}

.single-testimonial h5 {
    font-size: 18px;
    font-weight: 500;
}

.single-testimonial p.title {
    font-size: 14px;
}

.testimonial-carousel .owl-next,
.testimonial-carousel .owl-prev {
    font-size: 36px;
}

.opening-hours h3 {
    font-size: 36px;
    font-weight: 500;
}

.opening-hours p {
    font-size: 16px;
}

.opening-hours li {
    font-size:  18px;
}

.single-beauticians .social li a {
    line-height: 35px;
    font-size: 18px;
}

.single-beauticians h5 {
    font-size: 18px;
    font-weight: bold;
    line-height: 35px;
}

/*
#subscribe i {
    font-size: 60px;
}
#subscribe h3 {
    font-size: 20px;
    font-weight: 500;
    line-height: 28px;
}

#subscribe p {
    font-size: 16px;
}

#subscribe-form button {
    line-height: 24px;
    font-weight: 500;
    text-transform: uppercase;
}*/

.payment-method li a {
    font-size: 18px;
    line-height: 30px;
}
.scrollup {
    line-height: 50px;
}

#breadcrumb-area h2 {
    font-size: 42px;
    font-weight: 500;
}

#breadcrumb-area ul li,
#breadcrumb-area ul li a {
    font-size: 18px;
}

#welcome .section-title h3 {
    font-size: 30px;
    font-family: 'Dancing Script', cursive;
    font-weight: 700;
}

.welcome-box h4 {
    font-size: 20px;
}

#wcu h2 {
    font-size: 40px;
    font-weight: 500;
}

#wcu p b {
    font-size: 16px;
    font-weight: 500;
}

.gallery-tab-sorting li a {
    font-size: 18px;
}

.gallery-page .gallery-item figcaption ul li a {
    font-size: 20px;
    line-height: 50px;
}

.gallery-page .gallery-item figcaption h4 {
    font-size: 24px;
    font-weight: 500;
}

#contact h2 {
    font-size: 40px;
}

.contact-form label {
    font-size: 18px;
}

.info-box i {
    font-size: 30px;
}

.info-box h4 {
    font-size: 22px;
    font-weight: 500;
    line-height: 30px;
}

.info-box p {
    line-height:  26px;
}

.portfolio-tab-sorting li a {
    font-size: 16px;
}

.portfolio-page .portfolio-item figcaption h4 {
    font-size: 22px;
    font-weight: 500;
}

.portfolio-page .portfolio-item figcaption h6 {
    font-size: 16px;
    font-weight: 400;
}

.portfolio-page .portfolio-item figcaption a {
    font-size: 16px;
    font-weight: 400;
}

li.page-item .page-link {
    font-size: 18px;
}

.meta-info li a {
    font-size: 14px;
    font-weight: 400;
}

.blog-post .post-title a {
    font-size: 18px;
    font-weight: 500;
    line-height: 28px;
}

.blog-post a.read-more {
    font-size: 14px;
}

.single-post .post-title a {
    font-size: 24px;
}

.media ul li {
    font-size: 12px;
}

#page-404 h2 {
    font-size: 140px;
    font-weight: 600;
}

.coming-soon-wrapper h1 {
    font-size: 36px;
    font-weight: 600;
}

.count-area .text {
    font-size: 24px;
    text-transform: capitalize;
}

.subscribe-wrapper button {
    font-size: 16px;
}

.coming-soon-wrapper footer .social a {
    line-height: 35px;
    font-size: 16px;
}

.count-area .time-wrap span {
    font-size: 40px;
    letter-spacing: .05em;
}

.copyright a {
    font-size: 16px;
}

li.latest-news h6 {
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
}

li.latest-news p {
    font-size: 12px;
}

.widget-search input[type=button] {
    font-size: 14px;
}

.recent-post h6 {
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
}

.widdget-instagram li .instagram-overlay a {    
    font-size: 36px;
}

.widget-acrhives li a {
    font-size: 16px;
}

#blog-content .widget-calender .widget-title li {
    font-size: 22px;
}

.weekdays {
    font-size: 18px;
}

#page-404 h3 {
    font-size: 24px;
}